
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
  --primary-color: #e3a617;
  --secondary-color: #d82633;
  --light-color: #e3a61714;
  --accent-color: #d82933;
  --text-color: #ffffff;
  --initial-color: #e8c900;
  --end-color: #e0a417;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 10, 10, 10;

    --primary-glow: radial-gradient(rgba(255, 193, 7, 0.4), rgba(255, 193, 7, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(255, 193, 7, 0),
      rgba(255, 193, 7, 0),
      rgba(255, 193, 7, 0.3)
    );

    --tile-start-rgb: 10, 10, 10;
    --tile-end-rgb: 5, 5, 5;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 30, 30, 30;
    --callout-border-rgb: 150, 150, 150;
    --card-rgb: 40, 40, 40;
    --card-border-rgb: 80, 80, 80;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  margin: 0;
  overflow: hidden;
}

body {

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
