/* Estilos locales en el componente Home o estilos CSS globales */
.heroContainer {
  position: relative;
  height: 100vh; /* Ajusta según sea necesario */
  overflow: hidden; /* Asegura que no haya desbordamiento */
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Ajusta según sea necesario, pero mayor que el z-index del Navbar */
}
