.hero {
  position: fixed;
  top: -44px;
  left: -80px;
  width: calc(100vw + 160px);
  height: calc(100vh + 160px);
  background-color: grey;
  transition: transform 0.1s;
  background-image: url('/images/valeria/mainPic.png');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer; 
}

.hero:hover {
  cursor: pointer;
}
